Prova\ Progetto/Library
Prova\ Progetto/Temp/
Prova\ Progetto/Logs
Prova\ Progetto/Assembly-CSharp.csproj
Prova\ Progetto/Assets/HQ_ResidentialHouse/HDRP.unitypackage
Prova Progetto/Assembly-CSharp.csproj
Prova Progetto/obj/Debug/.NETFramework,Version=v4.7.1.AssemblyAttributes.cs
Prova Progetto/Assets/HQ_ResidentialHouse/HDRP.unitypackage.meta
Prova Progetto/UserSettings/EditorUserSettings.asset
Prova Progetto/obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache
Prova Progetto/Assets/HQ_ResidentialHouse/HDRP.unitypackage.meta
Prova Progetto/UserSettings/EditorUserSettings.asset
Prova Progetto/Assembly-CSharp.csproj
Prova Progetto/Assembly-CSharp.csproj
